body {
  font-family: Arial, sans-serif;
  background-color: #f5f7fa;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  background: #fff;
  padding: 20px 30px;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  width: 400px;
}

h2 {
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

form label {
  display: block;
  margin-top: 10px;
  color: #444;
}

form input, form select, form textarea {
  width: 100%;
  padding: 8px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 14px;
}

button {
  margin-top: 15px;
  width: 100%;
  text-decoration: none;
  background: linear-gradient(#a100be, #ff007b);
  color: aliceblue; 
  border: none;
  padding: 10px; 
  border-radius: 50px;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

.form-title{
    text-align: center;
}